<a class="btn btn-outline-primary btn-sm" routerLink="/matriculas-new">Nova Matrícula</a>

<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data Hora</th>
            <th scope="col">Id do curso</th>
            <th scope="col">Nome do Curso</th>
            <th scope="col">Id do aluno</th>
            <th scope="col">Nome do aluno</th>
            
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of matriculas; index as i">
            <th scope="row">{{ 1 + i }}</th>
            <td>{{item.dataMatricula | date: 'dd/MM/yyyy' }}</td>
            <td>{{item.curso_id}}</td>
            <td>{{item.nomeCurso}}</td>
            <td>{{item.aluno_id}}</td>
            <td>{{item.nomeAluno}}</td>
            
        </tr>
    </tbody>

</table>
