<a class="btn btn-light btn-sm" routerLink="/matriculas-new">Nova Matrícula</a>
<a class="btn btn-light btn-sm" routerLink="/alunos">Novo Aluno</a>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Matrículas</h1>
        <p class="lead-1">Listagem de matrículas por aluno</p>
        <hr class="my-2">
        <div class="input-group">
            <select id="Ialuno" [(ngModel)]="aluno" class="form-select">
               <option *ngFor="let c of alunos" [ngValue]="c">{{c.name}}</option> 
            </select>           
        </div>
        <div class="btn">
          <button class="btn btn-light me-md-2 btn-sm" type="button" (click)="listMatriculas()">Buscar</button>
          <a class="btn btn-light btn-sm" routerLink="/matriculas-new">Nova Matrícula</a>
          <a class="btn btn-light btn-sm" routerLink="/alunos">Alunos</a>  
        </div>
        
    </div>
</div>

<div class="container">
   <table class="table table-striped">
    
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data Hora</th>
            <th scope="col">Nome do Curso</th>
            <th scope="col">Nome do aluno</th>
            
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of matriculas; index as i">
            <th scope="row">{{ 1 + i }}</th>
            <td>{{item.dataMatricula | date: 'dd/MM/yyyy' }}</td>
            <td>{{item.curso}}</td>
            <td>{{item.aluno}}</td>
            
        </tr>
    </tbody>

   </table> 
</div>

